.profile {
  display: flex;
}

.profileWrapper {
  flex: 9;
  padding: 40px;
}

.profileTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.profileUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.profileForm {
  display: flex;
  flex-direction: column;
}

.profilePP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profilePP > img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  margin-right: 7px;
}

.profileForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.profileForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.profileSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  margin-top: -1px;
}
